*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.wrapper{
  max-width: 500px;
  width: 100%;
  background-color: rgb(44, 206, 8);
  min-height: 75px;
       padding: 15px 10px;
    border-radius: 8px;
    white-space: nowrap;
   
}

h1{
    text-align: center;
   margin-bottom: 25px;
}

.inputs{
   display: flex;
   margin-bottom: 15px;
    
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
}

.inputbar,.input-btn{

width: 100%;
}

.inputbar{
    width: 85%;
    border-radius: 25px 0px 0px 25px;
    padding: 5px 10px 5px 18px;
    border: 2px solid orange;
    border-right: none;
    outline: none;
    color: orange;
}

.inputbar::placeholder{
    color: orange;
}

.input-btn{
   width: 70px;
    border-radius: 0px 25px 25px 0px;
    padding: 5px ;
    border: 2px solid orange;
    font-weight: 600;
    outline: none;
    background-color: orange ;
    color: white;

}

.results{
     position: relative; 
}


.card{
   
    min-height: 300px;
    background-color: yellow;
    width: 250px;
    margin: 12px auto;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 8px;
}

.details{
   text-align: center;
}

.image{
    height: 72%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 8px;
}

.info-btn{
    border-radius: 25px;
    padding: 5px 15px;
    font-weight: 600;
    color: white;
    background-color: orangered;
}


.ingredient{

   background-color: red;
   
   color: white ;
  display: flex;
  align-items: center;
  justify-content: center;
}





.show{
    width: 325px;
}

.display{
   visibility: visible;
}

.name{
    margin-bottom: 10px;
}

@media (320px <= width <= 450px) {
    .card{
        width: 225px;
    }
}
